<div class="row">
  <div  class="large-12 large-centered columns entryarea">
    <div  class="large-12 columns">
      <div class="entrybox large-2 columns">{{view Ember.TextField valueBinding="event"}}</div>
      <div class="entrybox large-3 columns">{{view Ember.TextField valueBinding="event"}}</div>
      <div class="entrybox large-7 columns">{{view Ember.TextField valueBinding="event"}}</div>
    </div>
  </div>
</div>

<!--
<ul>
  <li>test</li>
  {{#each controller}}
  <li>{{ description }}</li>
  {{/each}}
</ul>
-->
