@import "foundation";
@import "colors";

/* Entry Area */

.entrybox {
  padding-left: 1px;
  padding-right: 1px;
}

.entryarea {
  height: 100px;
  padding: 30px 5px;
  padding-bottom: 150px;
  background: $primary-3;
}
