@import "colors";

/* Get EmCalc */
@import "foundation/foundation-global";

/* Entry Area */

span {
  &.entrybox.columns {
    padding: 2px;
  }
}

.boxhighlight {
  padding: 15px 10px 0px 10px;
  background-color: $secondaryB-4;
}


.entryarea {
  padding: 20px;
  background: $secondaryB-3;
}

div.entries {
  height: emCalc(720px);
  margin-top: 0px;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-color: $complementary-0;
  padding: 5px;
  ul.entries {
    list-style: none;
    li {
      border-top: 1px solid;
      border-color: $primary-3;
      /* First of type required due to ember/handlebars/metamorphs issue */
      &:first-of-type {
        border-top: none;
      }
    }
  }
}
